@tailwind base;
@tailwind components;
@tailwind utilities;
body {
background-color: white;
}

.fade-enter {
    opacity: 0;
  }
  
  .fade-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in-out;
  }
  
  .fade-exit {
    opacity: 1;
  }
  
  .fade-exit-active {
    opacity: 0;
    transition: opacity 300ms ease-in-out;
  }
  
  .custom-outer-border-red {
    @media (min-width: 768px) and (max-width: 767.98px), (min-width: 820.2px) {
      border-top-left-radius: 0% 100%;
      border-bottom-left-radius: 100% 100%;
      box-shadow: 0px 0px 75px 30px rgba(255, 0, 0, 0.3);
    }
  }
  
  .custom-inner-border-red {
    @media (min-width: 768px) and (max-width: 767.98px), (min-width: 820.1px) {
      border-Top-Left-Radius: 50% 100%;
      border-Bottom-Left-Radius: 50% 100%;
      box-Shadow: 0px 0px 75px 30px rgba(200, 0, 0, 0.3);
    }
  }
  
  .custom-inner-border-black {
    @media (min-width: 768px) and (max-width: 767.98px), (min-width: 820.1px) {
      border-Top-Left-Radius: 50% 100%;
      border-Bottom-Left-Radius: 50% 100%;
      box-Shadow: 0px 0px 75px 45px rgba(30, 0, 0, 0.3);
    }
  }
  
  /*** ANIMATIONS ***/
  @keyframes slide-left-animation {
    0% {
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
  
  .slide-left {
    -webkit-animation: slide-left-animation 1s ease-in alternate;
    animation: slide-left-animation 1s ease-in alternate;
  }
  
  @media (min-width: 640px) {
    .slide-left-hero {
      -webkit-animation: slide-left-animation 1s ease-in alternate;
      animation: slide-left-animation 1s ease-in alternate;
    }
  }
  
  

  .slide-right {
    -webkit-animation: slide-right 1s ease-in alternate;
    animation: slide-right 1s ease-in alternate;
  }
  
  @-webkit-keyframes slide-right {
    0% {
      -webkit-transform: translateX(-100%); 
      transform: translateX(-100%);
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
  
  @keyframes slide-right {
    0% {
      -webkit-transform: translateX(-100%); 
      transform: translateX(-100%);
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }

  /*** ANIMATIONS ***/
  
  
  


  